#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 100px auto;
}

#columns {
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;  
}

.pin {
  position: relative;
  display: inline-block;
  margin: 0 2px 15px;
  padding: 15px;

  .button {
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: 30px;
    visibility: hidden;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .caption {
    font: 14px Arial, sans-serif;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    color: #333;
    margin: 0;
  }
}

.pin:hover {
  border-radius: 10px;
  background: #EDEDED;
  transition: .2s ease-in-out;
  .button {
    visibility: visible;
  }
}